In [1]:
import os
import h2o
from h2o.estimators.glm import H2OGeneralizedLinearEstimator
from h2o.estimators.gbm import H2OGradientBoostingEstimator

In [2]:
# Connect to a cluster
h2o.init()

C:\Users\Miya\Anaconda2\lib\site-packages\IPython\core\formatters.py:92: DeprecationWarning: DisplayFormatter._ipython_display_formatter_default is deprecated: use @default decorator instead.
  def _ipython_display_formatter_default(self):
C:\Users\Miya\Anaconda2\lib\site-packages\IPython\core\formatters.py:98: DeprecationWarning: DisplayFormatter._formatters_default is deprecated: use @default decorator instead.
  def _formatters_default(self):
C:\Users\Miya\Anaconda2\lib\site-packages\IPython\core\formatters.py:677: DeprecationWarning: PlainTextFormatter._deferred_printers_default is deprecated: use @default decorator instead.
  def _deferred_printers_default(self):
C:\Users\Miya\Anaconda2\lib\site-packages\IPython\core\formatters.py:669: DeprecationWarning: PlainTextFormatter._singleton_printers_default is deprecated: use @default decorator instead.
  def _singleton_printers_default(self):
C:\Users\Miya\Anaconda2\lib\site-packages\IPython\core\formatters.py:672: DeprecationWarning: PlainTextFormatter._type_printers_default is deprecated: use @default decorator instead.
  def _type_printers_default(self):
C:\Users\Miya\Anaconda2\lib\site-packages\IPython\core\formatters.py:669: DeprecationWarning: PlainTextFormatter._singleton_printers_default is deprecated: use @default decorator instead.
  def _singleton_printers_default(self):
C:\Users\Miya\Anaconda2\lib\site-packages\IPython\core\formatters.py:672: DeprecationWarning: PlainTextFormatter._type_printers_default is deprecated: use @default decorator instead.
  def _type_printers_default(self):
C:\Users\Miya\Anaconda2\lib\site-packages\IPython\core\formatters.py:677: DeprecationWarning: PlainTextFormatter._deferred_printers_default is deprecated: use @default decorator instead.
  def _deferred_printers_default(self):

------------------------------  -------------------------------------
H2O cluster uptime:             6 minutes 26 seconds 405 milliseconds
H2O cluster version:            3.8.3.3
H2O cluster name:               Miya
H2O cluster total nodes:        1
H2O cluster total free memory:  3.52 GB
H2O cluster total cores:        4
H2O cluster allowed cores:      4
H2O cluster healthy:            True
H2O Connection ip:              127.0.0.1
H2O Connection port:            54321
H2O Connection proxy:
Python Version:                 2.7.11
------------------------------  -------------------------------------

In [5]:
## Define data paths
base_path = os.path.abspath("../data")
flights_path = base_path + "/flights.csv"
weather_path = base_path + "/weather.csv"

In [6]:
## Ingest data
flights_hex = h2o.import_file(path = flights_path, destination_frame = "flights_hex")
weather_hex = h2o.import_file(path = weather_path, destination_frame = "weather_hex")

Parse Progress: [##################################################] 100%

Parse Progress: [##################################################] 100%

In [7]:
## Summary of the flights and weather dataset
flights_hex.show()
weather_hex.show()

Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,IsArrDelayed,IsDepDelayed
1987,10,3,6,907,907,1511,1500,AA,38,nan,244,233,nan,11,0,SAN,ORD,1723,nan,nan,0,nan,0,0,0,0,0,0,YES,NO
1987,10,6,2,907,907,1507,1500,AA,38,nan,240,233,nan,7,0,SAN,ORD,1723,nan,nan,0,nan,0,0,0,0,0,0,YES,NO
1987,10,8,4,907,907,1451,1500,AA,38,nan,224,233,nan,-9,0,SAN,ORD,1723,nan,nan,0,nan,0,0,0,0,0,0,NO,NO
1987,10,9,5,906,907,1449,1500,AA,38,nan,223,233,nan,-11,-1,SAN,ORD,1723,nan,nan,0,nan,0,0,0,0,0,0,NO,NO
1987,10,10,6,906,907,1434,1500,AA,38,nan,208,233,nan,-26,-1,SAN,ORD,1723,nan,nan,0,nan,0,0,0,0,0,0,NO,NO
1987,10,11,7,907,907,1440,1500,AA,38,nan,213,233,nan,-20,0,SAN,ORD,1723,nan,nan,0,nan,0,0,0,0,0,0,NO,NO
1987,10,12,1,906,907,1456,1500,AA,38,nan,230,233,nan,-4,-1,SAN,ORD,1723,nan,nan,0,nan,0,0,0,0,0,0,NO,NO
1987,10,14,3,906,907,1511,1500,AA,38,nan,245,233,nan,11,-1,SAN,ORD,1723,nan,nan,0,nan,0,0,0,0,0,0,YES,NO
1987,10,15,4,906,907,1444,1500,AA,38,nan,218,233,nan,-16,-1,SAN,ORD,1723,nan,nan,0,nan,0,0,0,0,0,0,NO,NO
1987,10,16,5,907,907,1451,1500,AA,38,nan,224,233,nan,-9,0,SAN,ORD,1723,nan,nan,0,nan,0,0,0,0,0,0,NO,NO

ICAO,MaxTempF,MeanTempF,MinTempF,MaxDewPointF,MeanDewPointF,Min DewpointF,MaxHumidity,MeanHumidity,MinHumidity,MaxSeaLevelPressureIn,MeanSeaLevelPressureIn,MinSeaLevelPressureIn,MaxVisibilityMiles,MeanVisibilityMiles,MinVisibilityMiles,MaxWindSpeedMPH,MeanWindSpeedMPH,MaxGustSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,Dest,Year,Month,DayofMonth
KORD,33,32,30,32,29,24,96,90,79,30.14,30.03,29.95,10,3,1,9,5,nan,0.16,8,Fog-Snow,308,ORD,1987,1,1
KORD,36,33,30,33,31,29,100,90,82,30.18,30.02,29.94,8,6,2,10,7,nan,0.01,7,Fog-Snow,323,ORD,1987,1,2
KORD,39,33,27,30,29,26,100,87,65,30.34,30.28,30.19,9,7,5,12,5,nan,0,7,Fog,273,ORD,1987,1,3
KORD,37,28,19,31,26,19,100,89,65,30.42,30.38,30.32,8,4,0,8,4,nan,0,4,Fog,332,ORD,1987,1,4
KORD,39,32,25,30,27,24,100,81,62,30.39,30.27,30.07,10,8,3,13,7,nan,0,5,Fog,180,ORD,1987,1,5
KORD,46,40,34,38,31,26,86,73,62,30.04,29.8,29.61,15,10,10,23,14,nan,0,7,Rain,226,ORD,1987,1,6
KORD,37,35,32,31,28,26,82,75,70,30.27,30.16,29.93,15,11,7,14,10,nan,0,8,,309,ORD,1987,1,7
KORD,32,29,26,27,22,18,85,74,61,30.27,30.22,30.16,15,12,7,17,11,nan,0,7,Snow,268,ORD,1987,1,8
KORD,30,26,21,30,25,19,100,89,82,30.14,29.9,29.61,15,6,0,16,8,nan,0.46,6,Fog-Snow,147,ORD,1987,1,9
KORD,34,32,30,32,29,25,100,89,75,29.91,29.72,29.57,9,4,2,20,12,26,0.15,8,Fog-Snow,339,ORD,1987,1,10

In [11]:
print flights_hex.shape
print weather_hex.shape

(4780904, 31)
(9768, 27)

In [12]:
# Group flights by Year
flights_hex["IsArrDelayedNumeric"] = (flights_hex["IsArrDelayed"] == "YES").ifelse(1,0)
flights_hex["IsWeatherDelayedNumeric"] = (flights_hex["WeatherDelay"] > 0).ifelse(1,0)
flights_group = flights_hex.group_by("Year")
flights_count = flights_group.count().sum("IsArrDelayedNumeric").sum("IsWeatherDelayedNumeric").frame
flights_count.as_data_frame()

    Year  sum_IsWeatherDelayedNumeric  sum_IsArrDelayedNumeric  nrow_Year
0   1987                            0                    15216      38041
1   1988                            0                    56686     147295
2   1989                            0                    59160     133278
3   1990                            0                    56392     154285
4   1991                            0                    50490     157913
5   1992                            0                    57940     163863
6   1993                            0                    61131     170640
7   1994                            0                    47078     163451
8   1995                            0                    44184     150482
9   1996                            0                    45343     144064
10  1997                            0                    54852     172330
11  1998                            0                    53161     171777
12  1999                            0                    62940     177946
13  2000                            0                    51200     148203
14  2001                            0                    46910     195317
15  2002                            0                    47624     225411
16  2003                         2211                    67040     256611
17  2004                         4097                    68614     240167
18  2005                         3949                    51768     215470
19  2006                         4493                    56532     214954
20  2007                         5146                    55758     207832
21  2008                         4426                    47603     203109
22  2009                         3184                    40679     217280
23  2010                         3130                    38788     208201
24  2011                         3076                    36010     199529
25  2012                         3085                    29976     202174
26  2013                         2132                    18827     101281

In [13]:
## Filter flights before 2003
flights_hex = flights_hex[ flights_hex[ "Year"] >= 2003]
## Filter flights that is delayed but not delayed by weather
flights_hex = flights_hex[ (flights_hex["IsArrDelayed"] == "NO") | (flights_hex["WeatherDelay"] > 0)]

In [14]:
flights_hex["CRSArrTime"]

CRSArrTime
1351
1351
1351
1351
1351
1351
1351
1351
1351
1351

In [15]:
## Parameter Creation
hour1 = flights_hex["CRSArrTime"] // 100
mins1 = flights_hex["CRSArrTime"] % 100
arrTime = hour1*60+mins1
hour2 = flights_hex["CRSDepTime"] // 100
mins2 = flights_hex["CRSDepTime"] % 100
depTime = hour2*60+mins2

travelTime = (arrTime - depTime > 0).ifelse(arrTime - depTime, 0)
flights_hex[ "TravelTime"]  = travelTime

In [16]:
flights_hex[ "TravelTime"]

TravelTime
360
360
360
360
360
360
360
360
360
360

In [18]:
# Set predictor and response variables
myY = "IsArrDelayed"
myX = ["Year", "Month", "DayofMonth", "DayOfWeek", "UniqueCarrier", "Origin", "TravelTime"]

In [19]:
# Create test/train split
split = flights_hex["Year"].runif()
train = flights_hex[split <= 0.75]
valid = flights_hex[split > 0.75]

In [20]:

# GLM - Predict Delays
arr_delay_glm = H2OGeneralizedLinearEstimator(family="binomial",
                                              standardize=True, 
                                              alpha = 0.5, 
                                              lambda_search = True)
arr_delay_glm.train(x               =myX,
                    y               =myY,
                    training_frame  =train,
                    validation_frame=valid)

# GBM 
arr_delay_gbm = H2OGradientBoostingEstimator(distribution   ="bernoulli",
                                             ntrees         =50)

arr_delay_gbm.train(x               =myX,
                    y               =myY,
                    training_frame  =train,
                    validation_frame=valid)

glm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

In [21]:
print "GLM AUC TRAIN=", arr_delay_glm.auc(train = True),", AUC Valid=",arr_delay_glm.auc(valid = True)
print "GBM AUC TRAIN=", arr_delay_gbm.auc(train = True),", AUC Valid=",arr_delay_gbm.auc(valid = True)

GLM AUC TRAIN= 0.722015660717 , AUC Valid= 0.723810706456
GBM AUC TRAIN= 0.803173914718 , AUC Valid= 0.795095939791

In [22]:
## Merge with weather data
merged_data = flights_hex.merge(weather_hex)

In [23]:
# Create test/train split
split_weather = merged_data["Year"].runif()
train_weather = merged_data[split <= 0.75]
valid_weather = merged_data[split > 0.75]

In [24]:
# Set predictor and response variables
myY = "IsArrDelayed"
myX = ["Year", "Month", "DayofMonth", "DayOfWeek", "UniqueCarrier", "Origin", "TravelTime"] + weather_hex.columns

In [25]:
# GLM - Predict Delays
arr_delay_weather_glm = H2OGeneralizedLinearEstimator(family="binomial",
                                                      standardize=True, 
                                                      alpha = 0.5, 
                                                      lambda_search = True)
arr_delay_weather_glm.train(x               =myX,
                            y               =myY,
                            training_frame  =train_weather,
                            validation_frame=valid_weather)

# GBM
arr_delay_weather_gbm = H2OGradientBoostingEstimator(distribution   ="bernoulli",
                                                     ntrees         =50)

arr_delay_weather_gbm.train(x               =myX,
                            y               =myY,
                            training_frame  =train_weather,
                            validation_frame=valid_weather)

glm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

In [26]:
print "GLM AUC TRAIN=", arr_delay_weather_glm.auc(train = True),", AUC Valid=",arr_delay_weather_glm.auc(valid = True)
print "GBM AUC TRAIN=", arr_delay_weather_gbm.auc(train = True),", AUC Valid=",arr_delay_weather_gbm.auc(valid = True)

GLM AUC TRAIN= 0.793889549771 , AUC Valid= 0.790934266013
GBM AUC TRAIN= 0.856952805694 , AUC Valid= 0.847948904647